* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background: radial-gradient(circle at top, #0f172a, #020617);
    color: #e5e7eb;
    line-height: 1.6;
}

/* NAVBAR */
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 18px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(2, 6, 23, 0.85);
    backdrop-filter: blur(10px);
    z-index: 1000;
}

.logo {
    font-size: 22px;
    font-weight: 700;
    color: #57d3e9;
}

.nav-links a {
    margin-left: 28px;
    text-decoration: none;
    color: #e5e7eb;
    font-weight: 500;
    position: relative;
    transition: 0.3s ease;
}

.nav-links a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 0;
    height: 2px;
    background: #22d3ee;
    transition: 0.3s;
}

.nav-links a:hover,
.nav-links a.active {
    color: #22d3ee;
}

.nav-links a:hover::after,
.nav-links a.active::after {
    width: 100%;
}

/* SECTIONS  */
main {
    padding-top: 100px;
}

section {
    max-width: 1100px;
    margin: auto;
    padding: 80px 30px;
    animation: fadeUp 1s ease forwards;
}

section h2 {
    font-size: 32px;
    color: #22d3ee;
    margin-bottom: 20px;
}

/* HOME  */
#home {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#home img {
    width: 240px;
    height: 240px;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid #22d3ee;
    box-shadow: 0 0 20px #22d3ee;
    margin: 25px 0;
    transition: transform 0.4s ease;
}

#home img:hover {
    transform: scale(1.10);
}

#home p {
    margin: 10px 0;
    font-size: 16px;
}

/* CV Button */
#home a[href*="Resume"] {
    margin: 15px 0;
    display: inline-block;
    padding: 12px 28px;
    border-radius: 6px;
    border: 2px solid #22d3ee;
    color: #22d3ee;
    text-decoration: none;
    transition: 0.4s;
}

#home a[href*="Resume"]:hover {
    background: #22d3ee;
    color: #020617;
    box-shadow: 0 0 15px #22d3ee;
    transform: scale(1.10);
}

/* Social Icons */
#home i {
    font-size: 22px;
    margin: 0 10px;
    color: #e5e7eb;
    transition: 0.3s;
}

#home i:hover {
    color: #22d3ee;
    transform: scale(1.2);
}

/* ABOUT  */
#about p {
    max-width: 800px;
    margin-bottom: 20px;
}

#about ul {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    list-style: none;
}

#about ul li {
    padding: 8px 16px;
    background: rgba(34, 211, 238, 0.15);
    border: 1px solid #22d3ee;
    border-radius: 20px;
    font-size: 14px;
}

#about ul li:hover {
    color: #080808;
    background: #22d3ee;
    transform: scale(1.15);
}

/* PROJECTS  */
#projects article {
    background: #0a0d0e;
    padding: 20px;
    border-radius: 14px;
    margin-bottom: 30px;
    transition: 0.4s;
    width: fit-content;
    height: fit-content;
}

#projects article:hover {
    transform: translateY(-10px);
    box-shadow: 0 0 30px rgba(26, 214, 243, 0.4);

}

#projects img {
    width: 80%;
    max-width: 70%;
    border-radius: 10px;
    margin: 15px 0;
}

/* RESUME SECTION  */
#resume {
    max-width: 900px;
    margin: auto;
}

/* Resume Main Heading */
#resume h2 {
    text-align: center;
    margin-bottom: 50px;
}

/* Section Headings  */
#resume h3 {
    color: #22d3ee;
    margin-bottom: 20px;
    margin-top: 50px;
    font-size: 22px;
    display: flex;
    align-items: center;
    gap: 10px;
}

/* Resume List */
#resume ul {
    list-style: none;
}

/* Resume Item Box */
#resume ul li {
    background: rgba(34, 211, 238, 0.08);
    border-left: 4px solid #22d3ee;
    padding: 18px 22px;
    border-radius: 8px;
    margin-bottom: 20px;
    transition: 0.3s ease;
}

/* Hover Effect */
#resume ul li:hover {
    background: rgba(34, 211, 238, 0.15);
    transform: scale(1.07);
    box-shadow: 0 0 20px rgba(34, 211, 238, 0.3);
}

/* Line spacing inside box */
#resume ul li br {
    display: block;
    margin-bottom: 6px;
}

/* Bold first line (Title) */
#resume ul li {
    font-size: 15px;
    line-height: 1.7;
}



/* CONTACT  */
#contact p {
    margin-bottom: 12px;
}

#contact i {
    color: #22d3ee;
    margin-right: 8px;
}

form {
    margin-top: 30px;
    max-width: 500px;
}

input,
textarea {
    width: 100%;
    background: transparent;
    border: 2px solid #22d3ee;
    padding: 12px;
    color: #fff;
    border-radius: 6px;
    margin-top: 6px;
}

input:focus,
textarea:focus {
    outline: none;
    box-shadow: 0 0 20px #22d3ee;
}

button {
    margin-top: 15px;
    padding: 12px 26px;
    border-radius: 6px;
    border: none;
    background: #22d3ee;
    color: #020617;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    box-shadow: 0 0 25px #22d3ee;
    transform: translateY(-2px);
}

/* FOOTER  */
footer {
    text-align: center;
    padding: 20px;
    background: #020617;
    border-top: 1px solid rgba(34, 211, 238, 0.2);
}

/* ANIMATION */
@keyframes fadeUp {
    from {
        opacity: 0;
        transform: translateY(40px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* RESPONSIVE */
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        gap: 10px;
        padding: 15px;
    }

    .nav-links a {
        margin: 8px;
    }

    section {
        padding: 60px 20px;
    }

     #resume {
        grid-template-columns: 1fr;
        gap: 40px;
    }

    #resume h3,
    #resume ul {
        grid-column: 1 / -1;
    }
}